.main-menu {
    background-color: $color-white;
    color: $color-theme-dark;

    >.container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;

        @include md {
            justify-content: space-between;
        }
    }

    .brand {
        display: flex;
        flex: 5;
        justify-content: left;

        @include md {
            flex: 2;
        }
    }

    .search {
        flex: 5;
        display: block;

        @include md {
            flex: 0;
            display: none;
        }

        @include lg {
            flex: 3;
            display: block;
        }

        #search-box-form {
            height: 45px;
            margin: auto;
            position: relative;

            input {
                position: absolute;
                border-radius: $border-radius-medium;
                height: 100%;
                width: 100%;
                outline: none;
                border: 1px solid $color-grey-2;
                font-size: 0.9rem;
                padding-left: 1.3rem;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 2px 0 $color-theme;
                }
            }

            button {
                position: absolute;
                top: 0;
                right: -2px;
                width: 50px;
                height: 100%;
                background-color: $color-theme;
                color: $color-white;
                border: none;
                border-radius: 0 $border-radius-medium $border-radius-medium 0;
                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: $color-theme-dark;
                }
            }
        }
    }

    .user-tools {
        flex: 0;
        display: none;
        align-items: center;
        justify-content: end;

        @include md {
            display: flex;
            flex: 3;
            align-items: center;
            justify-content: end;
        }

        @include lg {
            flex: 3.2;
        }

        .menu-link {
            text-decoration: none;
            color: $color-theme-dark;
            margin: 0 0.8rem;
            transition: 0.15s ease-in-out;

            &:first-child {
                margin: 0 0 0 0;

                @include md {
                    margin: 0 2.4rem 0 0;
                }

                @include lg {
                    margin: 0 1.2rem 0 0;
                }
            }

            &:last-child {
                margin: 0 0 0 0;

                @include md {
                    margin: 0 0 0 0.8rem;
                }

                @include lg {
                    margin: 0 0 0 0.4rem;
                }
            }

            &:hover {
                color: $color-theme;
            }

            i {
                font-size: $font-size-16;
            }
        }

        #cart {
            position: relative;

            .badge {
                position: absolute;
                top: -1.2rem;
                left: 0.7rem;
                background-color: $color-theme;
            }

            &:hover .badge {
                background-color: $color-dark;
            }
        }
    }

    .main-menu nav {
        border-top: 1px solid var(--color-grey-3);
        border-bottom: 1px solid var(--color-grey-3);
    }

    .main-menu>nav>.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-menu nav .browse-categories {
        flex: 2;
    }

    .main-menu nav .special-offer {
        display: none;
    }

    .main-menu nav .browse-categories button {
        background-color: var(--color-theme);
        color: var(--color-white);
        font-size: 1rem;
        width: 100%;
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.8rem;
        border: none;
        transition: 0.15s ease-in-out;
    }

    .main-menu nav .browse-categories button:hover {
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    }

    .main-menu nav .browse-categories button span {
        display: flex;
        align-items: center;
    }

    .main-menu nav .browse-categories button>span>i {
        font-size: 1.4em;
    }

    .main-menu nav .browse-categories .dropdown-menu {
        padding: 0;
        transform: translate(0px, 50px) !important;
    }

    @media (min-width:768px) {
        .main-menu nav .special-offer {
            flex: 3.5;
            display: flex;
            justify-content: end;
        }

        .main-menu nav .browse-categories button {
            padding: 0.45rem 1rem;
        }
    }

    @media (min-width: 992px) {
        .main-menu nav .special-offer {
            flex: 4.5;
            display: flex;
            justify-content: end;
        }
    }

    .menu-bottom {
        border-top: 1px solid $color-grey-3;
        border-bottom: 1px solid $color-grey-3;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .browse-categories {
            flex: 2;

            button {
                background-color: $color-theme;
                color: $color-white;
                font-size: 1rem;
                width: 100%;
                display: flex;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0.8rem;
                border: none;
                transition: 0.15s ease-in-out;

                @include md {
                    padding: 0.45rem 1rem;
                }

                &:hover {
                    background-color: $color-theme-dark;
                    color: $color-white;
                }

                span {
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 1.4em;
                    }
                }
            }

            .dropdown-menu {
                padding: 0;
                transform: translate(0px, 50px) !important;
            }
        }

        .special-offer {
            display: none;

            @include md {
                flex: 3.5;
                display: flex;
                justify-content: end;
            }

            @include lg {
                flex: 4.5;
                display: flex;
                justify-content: end;
            }
        }
    }
}