.signup-signin {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include md {
        margin-top: 6.5rem;
        margin-bottom: 6.5rem;
    }

    form input {
        display: block;
        width: 100%;
        border: none;
        border-radius: 6px;
        padding: 0.4rem 0.9rem;
        margin: 0.5rem 0;

        &:focus {
            outline: none;
            box-shadow: 0 0 2px 0 $color-theme;
        }

        [type=checkbox] {
            width: auto;
            height: 20px;
            width: 20px;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        align-items: start;

        @include md {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            align-items: start;
        }

        @include lg {
            column-gap: 2rem;
        }

        .card {
            padding: 1.5rem;
            border: none;
            border-radius: $border-radius-small;
            background-color: $color-grey-4;
            position: relative;

            .error {
                position: absolute;
                top: 50px;
                left: 15%;
                border: solid 1px $color-theme;
                background-color: $color-theme-dark;
                color: $color-white;
                width: 70%;
                height: auto;
                padding: 1rem;
                z-index: 1;
                text-align: center;
                display: none;
                opacity: 80%;

                &:not(:empty) {
                    display: block;
                }
            }

            .card-body {
                .checkbox-label {
                    flex-shrink: 0;
                    margin-left: 1rem;
                }

                .external-logins {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    gap: 1rem;

                    @include md {
                        flex-direction: column;
                    }

                    @include lg {
                        flex-direction: row;
                    }

                    @include xl {
                        grid-template-columns: 1fr 1fr;
                    }

                    .facebook-button {
                        margin: auto;
                        background-color: #3b5998;
                        color: $color-white;
                        border-radius: 8px;
                        background-image: url(../images/facebook-login.svg);
                        background-repeat: none;
                        border: none;
                        height: 42px;
                        width: 235px;

                        &:hover {
                            filter: brightness(90%);
                        }
                    }

                    .google-button {
                        margin: auto;
                        background-color: #4285F4;
                        color: $color-white;
                        border-radius: 8px;
                        background-image: url(../images/google-login.svg);
                        background-repeat: none;
                        border: none;
                        height: 42px;
                        width: 235px;

                        &:hover {
                            filter: brightness(90%);
                        }

                    }
                }

                .card-title {
                    font-family: $font-roboto;
                    color: $color-theme-dark;
                    font-weight: $font-weight-medium;
                    font-size: 1.5rem;
                    padding-bottom: 1.5rem;
                }

                .card-text.text-small {
                    color: $color-grey-text;
                    font-size: 0.875rem;
                }

                .card-text {
                    line-height: 2;

                    a {
                        color: $color-theme;
                        text-decoration: none;
                        font-weight: $font-weight-medium;

                        &:hover {
                            color: $color-theme-dark;
                            text-decoration: underline;
                        }
                    }
                }


            }
        }
    }
}