.site-title {
    background-color: $color-theme-dark-light;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h1 {
        color: $color-theme;
        font-size: 1.5rem;
        font-family: $font-roboto;
        font-weight: $font-weight-medium;
        margin: 0;
    }

    .breadcrumb {
        margin: 0;

        .breadcrumb-item a {
            text-decoration: none;
            color: $color-theme;

            &:hover {
                color: $color-theme;
                text-decoration: underline;
            }
        }
    }
}