.top-menu {
    background-color: $color-theme;
    color: $color-white;
    height: 40px;

    >.container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include md {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .site-settings {
        display: flex;

        .dropdown-menu {
            margin: 0;
        }

        .dropdown-theme {
            background-color: $color-theme;
            color: $color-theme-dark;

            button {
                background-color: $color-theme;
                color: $color-white;
                border: none;
                padding: 0;

                &:hover {
                    background-color: $color-theme;
                    color: $color-theme-dark;
                }
            }

            .dropdown-menu {
                border: none;
                width: 250px;
                margin-top: 3rem;

                .dropdown-item {
                    background-color: $color-theme;
                    color: $color-white;
                    margin: 0;
                    width: 100%;

                    &:hover {
                        margin: 0;
                        background-color: $color-theme-dark;
                        color: $color-white;
                    }
                }
            }

        }
    }

    .menu-links {
        display: none;
        transition: 0.15s ease-in-out;

        @include md {
            display: block;
            justify-content: space-between;
        }

        a {
            color: $color-white;
            text-decoration: none;
            margin: 0 1.2rem;

            &:hover {
                color: $color-theme-dark;
            }
        }

        .site-links {
            display: none;

            @include lg {
                display: inline;
            }

        }

        .social-media {
            margin-left: 1rem;
            font-size: $font-size-14;

            a {
                margin: 0 0.3rem;

                &:last-child {
                    margin: 0 0 0 0.3rem;
                }

                &:hover {
                    color: $color-theme-dark;
                }
            }


        }
    }

    .account-page-small-screen-size {

        @include md {
            display: none;
        }

        a {
            color: $color-white;

            &:hover {
                color: $color-theme-dark;
            }
        }
    }
}